body {
    font-family: Montserrat;
    font-weight: 700;
    min-height: 100vh;
}

/* main .form-control {
    display: inline-block;
    width: auto;
} */

main form {
    max-width: 25rem;
}

main form .form-row {
    margin-right: 0;
    margin-left: 0;
}